@font-face {
    font-family: 'NexaBold';
    src: url('../res/font/nexa_bold.ttf');
}

@font-face {
    font-family: 'Nexa';
    src: url('../res/font/nexa_book.otf');
}

h1, h2, h3, h4 {
    font-family: 'NexaBold';
}

h5, p, a, li, span {
    font-family: 'Nexa';
    color: white;
}

.navbar {
    z-index: 10 !important;
}

.main-div {
    height: auto;
}

.main-div .container-fluid  {
    margin-top: 100px;
    width: 80vw;
}

.row {
    height: auto;
}

.logo {
    width: 100%;
    height: auto;
}

.member img {
    max-width: 100%;
    object-fit: cover;
    /* border: #f2e3bb solid 5px;
    border-radius: 50%; */
}

.instruct img {
    border: #f2e3bb solid 2px;
}

.instruct p {
    font-size: 1.25rem;
}

.colored-text {
    color: #f2e3bb;
}