@font-face {
    font-family: 'NexaBold';
    src: url('../res/font/nexa_bold.ttf');
}

@font-face {
    font-family: 'Nexa';
    src: url('../res/font/nexa_book.otf');
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

body { 
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 

html {
    scroll-behavior: smooth;
}

h1{
     color: white;
     font-family: NexaBold;
}

button, input {
    font-family: 'Nexa' !important;
}

label {
    color: white;
}

h1, h2, h3, h4 {
    font-family: NexaBold;
}

h5, p, li, a, button, label, select {
    font-family: Nexa;
}

#landing_jumbo{
    background-image: url('../res/images/landing_background.png');
    background-size: auto;
    background-repeat: repeat;
    background-position: 0 0;
    animation: landing_background_move 500s linear infinite;
}

@keyframes landing_background_move {
    from {
      background-position: 0 0;
    }
    to {
        background-position: -10000px -10000px;
    }
}