body{
    background-color: #2B4043;
    color: #f2e3bb;
}

@font-face {
    font-family: 'NexaBold';
    src: url('res/font/nexa_bold.ttf');
}

@font-face {
    font-family: 'Nexa';
    src: url('res/font/nexa_book.otf');
}

nav{
    position: fixed!important;
    top: 0;
    right: 0;
    left: 0;    
    opacity: 0.95;
    background-color: #232526;
}

 h1{
     font-family: NexaBold;
 }

 #landing_jumbo{
    height: 100vh;
    background-image: url("res/images/landing_background.png");
    background-size: auto;
    background-repeat: repeat;
    background-position: 0 0;
    animation: landing_background_move 500s linear infinite;
}

@keyframes landing_background_move {
    from {
      background-position: 0 0;
    }
    to {
        background-position: -10000px -10000px;
    }
}

.form-control{
    background-color: #2B4043;
    border: none;
    color: #f2e3bb;
}

.form-control::placeholder{
    color: #f2e3bb;
}

input.form-control:focus::placeholder{
    color: #2B4043;
}

.button_1
{    
    border: 3px solid #f2e3bb;
    border-radius: 20px;
    padding: 5px 7px 5px 7px;
    background-color: transparent;
    color: #f2e3bb;
    margin: 10px;
}

#leaderboard{    
    height: 100vh;
}

#mobile_ad{    
    height: 100vh;
    background-image: url("res/images/mockup.png");
    background-size: contain;
    background-repeat: no-repeat;
}

footer{
    background-color: #232526;
}

footer a {
    filter: invert(97%) sepia(63%) saturate(543%) hue-rotate(317deg) brightness(101%) contrast(90%);
}